{# in parking/templates/parking/about.html #}
{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="row" id="about">
<h1>ABOUT PAGE</h1>
<p>
  RackFind is a new web-app for biking enthusiasts. RackFind will help you find the best and closest bike rack, no matter where you are. You can submit new racks to the map, and even review existing racks to help other bikers know the best local places to stop.
</p>
<p>
  RackFind is the product of a dedicated group of University of North Carolina students: Henry Gargan, Ellen Currin, and Clinton King.
</p>
</div>
{% endblock %}
