{# in parking/templates/parking/map.html #}
{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

</script>
<script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<!--MAPBOX-->
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
<!-- TURF.JS -->
<!--script src='http:////api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js'></script-->
<script src="{% static 'js/turf-min.js' %}"></script>
<!-- LEAFLET PLUGINS -->
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet'/>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.css' rel='stylesheet' />
<!-- DATATABLE.NET-->
<script src='http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js'></script>
<link href='http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css'>
<link href="http://cdn.datatables.net/responsive/1.0.2/css/dataTables.responsive.css">

<style>
    #map {width: 100vw; height: 80vh;}
    #find {position: absolute; z-index: 50; top: 20px; left: 50px; padding: 7px; border-radius: 5px; background-color: #fff;}
    #submit {position: absolute; z-index: 50; top: 20px; left: 200px; padding: 7px; border-radius: 5px; background-color: #fff;}
    #button {padding: 7px; border-radius: 5px; background-color: #fff; margin: 10px;}
    #list {margin: 1vw; width: 98vw;}
    #list-div {display: block;}
    #sorted {margin: 1vw; width: 98vw;}
    #sorted-div {display: none;}
    td {margin: 10px; border-top: 1px black solid; padding: 5px;}
    .list-item {border: 1px black solid; padding: 10px; margin: 10px;}
</style>

<div class="row">
  <div class="col-sm-12">
    <button class="btn-lg btn-default" onclick='find()'>Find a Rack!</button>
    <button class="btn-lg btn-default" onclick='window.open({% url 'submit' %})'>Submit a Rack</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div id='map'></div>
  </div>
</div>
<div class="row">
<div class="col-sm-12">
<div id='list-div'>
    <table id='list'>
        <thead>
            <th>Photo</th>
            <th></th>
            <th>Description</th>
            <th>Capacity</th>
            <th>Covered?</th>
            <th>Intended as a bike rack?</th>
            <th>Distance</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id='sorted-div'>
    <table id='sorted'>
        <thead>
            <th>Photo</th>
            <th></th>
            <th>Description</th>
            <th>Capacity</th>
            <th>Covered?</th>
            <th>Intended as a bike rack?</th>
            <th>Distance</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
</div>
</div>

<script>

    var racks = []
    var selection = []
    var me

    L.mapbox.accessToken = 'pk.eyJ1IjoiZWxjdXJyIiwiYSI6IkZMekZlUEEifQ.vsXDy4z_bxRXyhSIvBXc2A';
    var map = L.mapbox.map('map');
    var Thunderforest_OpenCycleMap = L.tileLayer('http://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        zoomControl: false,
    })
    .addTo(map)
    //L.control.locate().addTo(map)

    map.setView([35.912, -79.05], 14);
    map.scrollWheelZoom.disable();

    {% for rack in racks %}
	var ll = [{{ rack.lng }}, {{ rack.lat }}]
	//var rack = turf.point(ll)
	//console.log("ll " + ll)
	var rack = {
            "type": "Feature",
            "properties": {
                "id": {{rack.id}}
            },
            "geometry": {
              "type": "Point",
              "coordinates": ll
            }
        };
        racks.push(rack)


        var tableRef = document.getElementById('list').getElementsByTagName('tbody')[0];

        // Insert a row in the table at the last row
        var newRow   = tableRef.insertRow(tableRef.rows.length);
        newRow.onclick="window.open({% url 'detail' rack.id %})"

        // Insert a cell in the row at index 0
        var newCell0  = newRow.insertCell(0);
        var newCell1  = newRow.insertCell(1);
        var newCell2  = newRow.insertCell(2);
        var newCell3  = newRow.insertCell(3);
        var newCell4  = newRow.insertCell(4);
        var newCell5  = newRow.insertCell(5);
        var newCell6  = newRow.insertCell(6);

        // Append a text node to the cell
        var img = document.createElement("img");
        img.src = "http://upload.wikimedia.org/wikipedia/en/4/4a/Bike_Rack.jpg";
        img.style.width = "100px"
        var newText0  = document.createTextNode('image')
        var a = document.createElement('a');
        var linkText = document.createTextNode("{{rack.description}}");
        a.appendChild(linkText);
        a.href = "{% url 'detail' rack.id %}";
        var newText1  = document.createTextNode('{{rack.id}}')
        var newText2  = document.createTextNode('<a href="{% url 'detail' rack.id %}">{{rack.description}}</a>')
        var newText3  = document.createTextNode('{{rack.capacity}}')
        var newText4  = document.createTextNode('{{rack.covered}}')
        var newText5  = document.createTextNode('{{rack.intended}}')
        var a2 = document.createElement('button');
        var linkText2 = document.createTextNode("find");
        a2.appendChild(linkText2);
        a2.onclick = function(){find()}
        var newText6  = document.createTextNode('distance')


        newCell0.appendChild(img);
        //newCell1.appendChild(newText1);
        newCell2.appendChild(a);
        newCell3.appendChild(newText3);
        newCell4.appendChild(newText4);
        newCell5.appendChild(newText5);
        newCell6.appendChild(a2);

	/*document.getElementById('list').innerHTML += '<tr>'
        document.getElementById('list').innerHTML += '<td> image </br> {{rack.description}} </td>'
        document.getElementById('list').innerHTML += '<td> distance </td>'
	//document.getElementById('list').innerHTML += '<div class="list-item"> <h3>Here is a Parking Spot!</h3><a href="{% url 'detail' rack.id %}">' + rack.id + '</a>'+ '</div>'
	document.getElementById('list').innerHTML += '</tr>'*/
    {% endfor %}

    makeTable('#list')

    var fc = turf.featurecollection(racks)

    var features = L.mapbox.featureLayer(fc).addTo(map)

    features.eachLayer(function(marker) {
                marker.on('click', function(){
                    console.log(marker)
                    var url = "/detail/" + marker.feature.properties.id
                    console.log(url)
                    window.location = url
                })
            })
    map.fitBounds(features.getBounds())
    function find(){
        document.getElementById('list-div').style.display="none"
        document.getElementById('sorted-div').style.display="block"
        //document.getElementById('list').innerHTML="<thead><th>Photo</th><th></th><th>Description</th><th>Capacity</th><th>Covered?</th><th>Intended as a bike rack?</th><th>Distance</th></thead><tbody></tbody>"
        map.locate().on('locationfound', function(e){
            /// FIND LOCATION
            var marker = L.marker([e.latitude, e.longitude]).bindPopup('Your ass is here :)');
            me = [e.latitude, e.longitude]
            var circle = L.circle([e.latitude, e.longitude], 100, {
                weight: 3,
                color: 'blue',
                fillColor: '#cacaca',
                fillOpacity: 0.2
            });
            map.addLayer(marker);
            map.addLayer(circle);
            map.setView(me, 18)

            {% for rack in racks %}
                /// CREATE POINTS AND CALC DISTANCE
                var ll = [{{ rack.lng }}, {{ rack.lat }}]
                var point1 = {
                    "type": "Feature",
                    "properties": {},
                    "geometry": {
                      "type": "Point",
                      "coordinates": [e.longitude, e.latitude]
                    }
                };
                var point2 = {
                    "type": "Feature",
                    "properties": {
                        "id": rack.id
                    },
                    "geometry": {
                      "type": "Point",
                      "coordinates": ll
                    }
                };
                var units = "miles";
                var distance = turf.distance(point1, point2, units);
                console.log(distance + " mi")

                /// ADD DISTANCE PROPERTY
                point2 = {
                    "type": "Feature",
                    "properties": {
                        "id": {{rack.id}},
                        "distance" : distance
                    },
                    "geometry": {
                      "type": "Point",
                      "coordinates": ll
                    }
                };
                /// PUSH POINT OBJECTS TO ARRAY
                selection.push(point2)

                var tableRef = document.getElementById('sorted').getElementsByTagName('tbody')[0];

                // Insert a row in the table at the last row
                var newRow   = tableRef.insertRow(tableRef.rows.length);
                newRow.onclick="window.open({% url 'detail' rack.id %})"

                // Insert a cell in the row at index 0
                var newCell0  = newRow.insertCell(0);
                var newCell1  = newRow.insertCell(1);
                var newCell2  = newRow.insertCell(2);
                var newCell3  = newRow.insertCell(3);
                var newCell4  = newRow.insertCell(4);
                var newCell5  = newRow.insertCell(5);
                var newCell6  = newRow.insertCell(6);

                // Append a text node to the cell
                var img = document.createElement("img");
                img.src = "http://upload.wikimedia.org/wikipedia/en/4/4a/Bike_Rack.jpg";
                img.style.width = "100px"
                var newText0  = document.createTextNode('image')
                var a = document.createElement('a');
                var linkText = document.createTextNode("{{rack.description}}");
                a.href = "{% url 'detail' rack.id %}";
                a.appendChild(linkText);
                var newText1  = document.createTextNode('{{rack.id}}')
                var newText2  = document.createTextNode('<a href="{% url 'detail' rack.id %}">{{rack.description}}</a>')
                var newText3  = document.createTextNode('{{rack.capacity}}')
                var newText4  = document.createTextNode('{{rack.covered}}')
                var newText5  = document.createTextNode('{{rack.intended}}')
                var newText6  = document.createTextNode((distance.toFixed(2)) + " mi")


                newCell0.appendChild(img);
                //newCell1.appendChild(newText1);
                newCell2.appendChild(a);
                newCell3.appendChild(newText3);
                newCell4.appendChild(newText4);
                newCell5.appendChild(newText5);
                newCell6.appendChild(newText6);

            {% endfor %}

            makeTable('#sorted')

            /// SORT ARRAY
            function compare(a,b) {
                if (a.properties.distance < b.properties.distance)
                   return -1;
                if (a.properties.distance > b.properties.distance)
                  return 1;
                return 0;
              }

            var sorted = selection.sort(compare);
            console.log(sorted)

            /// CREATE SELECTION FEATURE CLASS
            map.removeLayer(features)
            var fc_sel = turf.featurecollection(sorted)
            var racks_sel = L.mapbox.featureLayer(fc_sel).addTo(map)

            racks_sel.eachLayer(function(marker) {
                marker.on('click', function(){
                    console.log(marker)
                    var url = "/detail/" + marker.feature.properties.id
                    console.log(url)
                    window.location = url
                })
            })
        })

    }


    function makeTable(id) {
        console.log("make table")
        $(id).DataTable({
            "order": [[ 6, "asc" ]]
        })
    }

$(document).ready(function() {
} );






</script>

{% endblock %}
