{% load static from staticfiles %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}Bike Parking{% endblock %}</title>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../static/css/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
      This is a test.
     <p>{% for rack in racks %}
        {{ rack.description }}
      {{ rack.lat }}, {{rack.lng}}
      {% endfor %}
     </p>
     {% block content %}
     {% endblock %}
    </body>
</html>
